header{
    background-color: #535353;
    color: #000000;
}

.cabecalho{
    color:#000000;
    margin-left: 400px;
    text-align: center;
    display: flex;
    font-size: 40px;
    margin-right: 100px;
}

.cabecalho-lista-1{
    color:#000000;
    margin-left:  150px; /*alinhamento a esquerda */
    padding:40px;/*espaçamento vertical */
    display: inline-block;
    justify-content: center;
    font-size: 25px;
}

.cabecalho-lista-2{
    color:#000000;
    margin-left: 150px;
    padding:40px;
    display: inline-block;
    justify-content: center;
    font-size: 25px;
}

body{
    background-color:#093a15;
    color: #000000;
}

.titulo-2{
    color:#000000;
    justify-content: center;
    display: flex;
    font-size: 20px;
}

.paragrafo-1{
    justify-content : center;
    text-align: center;
    font-size: 17px;
}

.paragrafo-2{
    justify-content : center;
    text-align: center;
    font-size: 17px;
}

.paragrafo-3{
    justify-content : center;
    text-align: center;
    font-size: 17px;
}