header{
    background-color: #999999;
    color: #000000;
}

.cabecalho{
    color:#000000;
    margin-left: 500px;
    text-align: center;
    display: flex;

}

.cabecalho-lista-1{
    color:#000000;
    margin-left:  200px; /*alinhamento a esquerda */
    padding:40px;/*espaçamento vertical */
    display: inline-block;
    justify-content: center;
}

.cabecalho-lista-2{
    color:#000000;
    margin-left: 200px;
    padding:40px;
    display: inline-block;
    justify-content: center;
}

body{
    background-color:#093a15;
    color: #000000;
}

.titulo-2{
    color:#000000;
    justify-content: center;
    display: flex;
}

.paragrafo-1{
    justify-content : center;
    text-align: center;
}

.paragrafo-2{
    justify-content : center;
    text-align: center;
}

.paragrafo-3{
    justify-content : center;
    text-align: center;
}